---
import Layout from "../layouts/Layout.astro";
import RobloxFullBody from "../assets/robloxfullbody.webp";
import { Links } from "../constants";
---

<Layout>
    <section class="contents-vertical">
        <h1>I love to make people smile!</h1>
        <p>
            I build <b>Roblox games</b> and contribute to
            <b>open-source software</b>, bringing a bit of magic into
            everything.
        </p>
        <p>
            Besides the <b>full stack</b>, I'm always experimenting with maps,
            robotics, engineering, or something completely new.
        </p>
        <p>
            My work has reached <b>thousands of players worldwide.</b>
        </p>
    </section>
    <section class="contents-vertical">
        <h2>About Myself</h2>
        <!-- Note: might be a bit disrespectful not saying im transfem but anyone who gaf can check the pronouns right -->
        <p>
            I go by Fire <a href={Links.PRONOUNS_PAGE}>(she/her)</a> online! I'm a
            15-year-old developer currently based in Ho Chi Minh City (GMT+7).
        </p>
        <p>
            Roblox inspired me to dream past limits and figure things out by
            building, whether that's technical game demos or steps towards
            aerospace engineering.
        </p>
        <p>
            Outside of work, I like to dabble in precision platformers, a hint
            of videography, local Model United Nations conferences, and jamming
            to good ol' Nujabes.
        </p>
    </section>
</Layout>
