---
import Layout from "../components/Layout.astro";
import Goals from "../assets/goals.svg";
import { LinkConstants } from "../constants";
import { Icon } from "astro-icon/components";
import IconTag from "../components/IconTag.astro";
---

<Layout pageTitle="About">
	<h1>I love to make people smile!</h1>
	<p>
		I build <b>Roblox games</b> and contribute to
		<b>open-source software</b>, bringing a bit of magic into everything.
	</p>
	<p>
		Besides the <b>full stack</b>, I'm always experimenting with maps, robotics, engineering, or something completely
		new.
	</p>
	<p>
		My work has reached <b>thousands of players worldwide.</b>
	</p>
	<h2>About Myself</h2>
	<div class="grid not-lg:gap-12 lg:grid-cols-3">
		<img
			src={Goals.src}
			alt="Bustshot of a girl adorning long hair, glasses, and a tanktop"
			class="mt-4 w-67 text-pink-900"
		/>
		<div class="col-span-2 *:mb-4">
			<p>
				I go by <b>Fire</b>
				<a class="link" href={LinkConstants.FIRE_PRONOUNS}>(she/her)</a> online! I'm a 15-year-old Vietnamese developer currently
				based in
				<a class="link" href={LinkConstants.TIME_IS_HCM}>Ho Chi Minh City (GMT+7).</a>
			</p>
			<p>
				Roblox inspired me to dream past limits and figure things out by building, whether that's technical game demos
				or steps towards aerospace engineering.
			</p>
			<p>
				Outside of work, I like to dabble in precision platformers, a hint of videography, local Model United Nations
				conferences, and jamming to good ol' Nujabes.
			</p>
		</div>
	</div>
	<h2>Tools</h2>
	<p>
		I've used
		<IconTag label="Roblox Studio" icon="simple-icons:robloxstudio" /> since 2019.
		<br />
		Lately, I've also been exploring
		<IconTag label="Godot" icon="simple-icons:godotengine" />,
		<IconTag label="Bevy" icon="simple-icons:bevy" />, and
		<IconTag label="Luduvo" icon="luduvo" />.
	</p>
	<p>
		<IconTag label="VSCode" icon="akar-icons:vscode-fill" /> is my workstation.
		<br />
		Previously, I've also spent some time with
		<IconTag label="Zed" icon="simple-icons:zedindustries" />.
	</p>
	<p>
		<IconTag label="Figma" icon="simple-icons:figma" /> for UI and vector work.
		<br />
		<IconTag label="Affinity" icon="simple-icons:affinitydesigner" />
		for colorgrading my photos.
		<br />
		<IconTag label="Krita" icon="simple-icons:krita" /> for everything else.
	</p>
	<p>
		<IconTag label="DaVinci Resolve" icon="simple-icons:davinciresolve" /> is my video editor.
	</p>
	<h2>Technologies</h2>
	<p>
		I professionally script in
		<IconTag label="Luau" icon="simple-icons:luau" />
		and
		<IconTag label="TypeScript" icon="simple-icons:typescript" /> with
		<IconTag label="Bun.js" icon="simple-icons:bun" />.
	</p>
	<p>
		I built many projects with
		<IconTag label="Java" icon="mdi:coffee" />,
		<IconTag label="Rust" icon="simple-icons:rust" />,
		<IconTag label="Python" icon="simple-icons:python" />, and
		<IconTag label="C#" icon="simple-icons:csharp" />.
	</p>
	<p>
		My websites are built with
		<IconTag label="SvelteKit" icon="simple-icons:svelte" /> or
		<IconTag label="Astro.js" icon="simple-icons:astro" />.
	</p>
	<p>
		And, hopefully, you can tell that I'm a natural at
		<IconTag label="CSS" icon="simple-icons:css" />!
	</p>
</Layout>
