---
import { Image } from "astro:assets";
import LandingLink from "../layouts/LandingLink.astro";
import Layout from "../layouts/Layout.astro";
import FullBody from "../assets/fullbody.png";
---

<Layout>
	<div
		class="w-full h-full overflow-hidden flex items-center justify-center gap-4"
	>
		<div class="grid grid-cols-4 h-full gap-2">
			<!-- An IQ Too High? -->
			<LandingLink subtitle="Works" url="/works">
				<div class="w-[50%] h-[25%] right-0"></div>
				<div
					class="w-[50%] h-[50%] top-[25%] right-0 rounded-r-[100%] group-hover:rounded-r-none"
				>
				</div>
				<div class="w-[50%] h-full group-hover:w-full"></div>
			</LandingLink>
			<LandingLink subtitle="About" url="/about">
				<div class="w-full h-[25%] group-hover:h-[50%]"></div>
				<div
					class="w-[50%] h-full left-[25%] group-hover:left-0 group-hover:w-full"
				>
				</div>
				<div class="w-full h-[25%] bottom-0 group-hover:h-[50%]"></div>
			</LandingLink>
			<LandingLink subtitle="Blog" url="/blog">
				<div
					class="w-full h-[50%] rounded-r-[50%] group-hover:rounded-r-none"
				>
				</div>
				<div
					class="w-full h-[50%] bottom-0 rounded-tr-[50%] group-hover:rounded-tr-none"
				>
				</div>
			</LandingLink>
			<LandingLink subtitle="Photos" url="/photos">
				<div class="w-full h-[25%]"></div>
				<div
					class="w-full h-[50%] top-[25%] rounded-r-[100%] group-hover:rounded-r-none"
				>
				</div>
				<div class="w-[50%] h-full"></div>
				<div class="w-full h-[25%] bottom-0"></div>
			</LandingLink>
		</div>
		<a
			href="https://google.com/"
			class="flex flex-col items-center gap-4 group"
		>
			<img
				src={FullBody.src}
				alt="Fire's avatar, depicting a floating woman with trailing hair."
			/>
			<span class="opacity-15 group-hover:opacity-30 transition-opacity">
				Art by CreepyRafa_rayitno
			</span>
		</a>
	</div>
</Layout>
