---
import { Image } from "astro:assets";
import LandingLink from "../components/LandingLink.astro";
import Document from "../components/Document.astro";
import FullBody from "../assets/fullbody.png";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const ROLES = [
	"Roblox Game Developer",
	"Full-Stack Engineer",
	"Graphic Designer",
];
---

<Document>
	<main
		class="w-full py-32 px-8 min-h-full flex flex-col items-center gap-12 text-balance text-center"
	>
		<Header />
		<div class="grid sm:grid-cols-4 gap-8 w-full max-w-6xl">
			<LandingLink letter="F" subtitle="Works" url="/works" />
			<LandingLink letter="I" subtitle="About" url="/about" />
			<LandingLink letter="R" subtitle="Blog" url="/blog" />
			<LandingLink letter="E" subtitle="Photos" url="/photos" />
		</div>
		<span class="-mb-12">{ROLES.join(" ✤ ")}</span>
		<Footer />
	</main>
</Document>
