---
import { Image } from "astro:assets";
import LandingLink from "../layouts/LandingLink.astro";
import Document from "../layouts/Document.astro";
import FullBody from "../assets/fullbody.png";
import Header from "../layouts/Header.astro";

const ROLES = [
	"Roblox Game Developer",
	"Full-Stack Engineer",
	"Graphic Designer",
];
---

<Document>
	<main
		class="w-full py-32 px-8 min-h-full flex flex-col items-center gap-12 text-balance text-center"
	>
		<Header />
		<div class="grid sm:grid-cols-4 gap-2 w-full max-w-6xl">
			<LandingLink letter="F" subtitle="Works" url="/works" />
			<LandingLink letter="I" subtitle="About" url="/about" />
			<LandingLink letter="R" subtitle="Blog" url="/blog" />
			<LandingLink letter="E" subtitle="Photos" url="/photos" />
		</div>
		<span>{ROLES.join(" ✽ ")}</span>
		<footer class="*:subtitle text-sm *:opacity-15">
			<p>Copyright 2026 godmothersfire</p>
			<a
				class="hover:opacity-30 active:opacity-30 transition-opacity"
				href="https://google.com/"
			>
				Artwork by CreepyRafa_rayitno
			</a>
		</footer>
	</main>
</Document>
