---
import { LinkConstants } from "../constants";
import IconLink from "./IconLink.astro";
import { Icon } from "astro-icon/components";
---

<footer class="*:subtitle mt-12 flex flex-col items-center text-center text-sm">
	<p class="inline-flex items-center gap-2 align-bottom opacity-40">
		(c) {new Date().getFullYear()} Made with &lt;3 by godmothersfire
	</p>
	<a class="link opacity-40 hover:opacity-100" href={LinkConstants.CREEPY_INSTAGRAM}> Header artwork by artsycreepy </a>
</footer>
