---
import FullBody from "../assets/fullbody.png";
---

<a href="/">
    <img
        src={FullBody.src}
        alt="Fire's avatar, depicting a floating woman with trailing hair."
        class="max-w-full max-h-[50vh] lg:h-100 rotate-180 -mb-1 mx-auto saturate-85"
    />
</a>
