---
import { Icon } from "astro-icon/components";

const { label, icon } = Astro.props;
---

<span class="inline-flex items-center gap-2 align-bottom font-normal">
	<Icon name={icon} />
	{label}
</span>
