---
import { Icon } from "astro-icon/components";

const { label, icon } = Astro.props;
---

<span class="inline-flex gap-2 items-center align-bottom font-normal">
    <Icon name={icon} />
    {label}
</span>
