---
const { letter, subtitle, url } = Astro.props;
---

<a href={url} class="group flex h-full flex-col-reverse items-center gap-2 text-center">
	<h2 class="w-28 font-mono text-2xl font-light">{subtitle}</h2>
	<span class="font-display relative text-9xl group-hover:font-bold">
		{letter}
	</span>
</a>
