---
import Document from "./Document.astro";
import Footer from "./Footer.astro";
import Header from "./Header.astro";

const { pageTitle } = Astro.props;
---

<Document {pageTitle}>
	<div class="contents-vertical mx-auto w-full max-w-6xl p-4">
		<Header />
		<slot />
		<Footer />
	</div>
</Document>
