---
import FullBody from "../assets/fullbody.png";
---

<a href="/">
    <img
        src={FullBody.src}
        alt="Fire's avatar, depicting a floating woman with trailing hair."
        class="max-w-full h-128 rotate-180 mb-8 mx-auto"
    />
</a>
