---
const { letter, subtitle, url } = Astro.props;
---

<a
    href={url}
    class="flex flex-col-reverse gap-2 h-full text-center items-center landing-link group"
>
    <h2 class="font-light font-mono">{subtitle}</h2>
    <span class="font-display text-9xl relative group-hover:font-bold"
        >{letter}</span
    >
</a>
