---
import Document from "./Document.astro";
import Header from "./Header.astro";
---

<Document>
	<div class="w-full py-32 px-16 max-w-6xl mx-auto contents-vertical">
		<Header />
		<slot />
	</div>
</Document>
